# https://dev.epicgames.com/documentation/unreal-engine/epic-cplusplus-coding-standard-for-unreal-engine
BasedOnStyle: Microsoft
UseTab: Always
AccessModifierOffset: -4

# `.generated.h` は最後に配置されるようにする。
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*\.generated\.h"$'
    Priority: 2
  - Regex: '.*'
    Priority: 1
