root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
tab_width = 2
trim_trailing_whitespace = true

[/LICENSE]
indent_size = unset

[/.gitmodules]
indent_style = tab

[*.{bat,cmd}]
end_of_line = crlf

[*.md]
indent_size = unset

[*.ini]
end_of_line = crlf

[*.c]
end_of_line = crlf

[*.cpp]
end_of_line = crlf

[*.h]
end_of_line = crlf

[*.cs]
indent_size = 4
end_of_line = crlf

[*.uproject]
end_of_line = crlf
indent_style = tab
insert_final_newline = unset

[*.usf]
end_of_line = crlf

[*.{a,dll,dylib,lib,obj,png,pdb,so,uasset,umap,vrm}]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset
