/.idea/
/.vs/
/.vscode/
/.vsconfig
/*.sln
/*.xcworkspace/
/ArchivedBuilds/
/Binaries/
/Build/
/Content/Developers/
/DerivedDataCache/
/Intermediate/
/Plugins/*/Binaries/
/Plugins/*/Intermediate/
/Plugins/VRM4U/**/*.a
/Plugins/VRM4U/**/*.dll
/Plugins/VRM4U/**/*.dylib
/Plugins/VRM4U/**/*.lib
/Plugins/VRM4U/**/*.obj
/Plugins/VRM4U/**/*.pdb
/Plugins/VRM4U/**/*.so
/Saved/
/super-linter-output/

.DS_Store
